# Dependencies
node_modules/
.pnp/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native builds
*.mobileprovision
*.p12
*.jks
*.keystore
android/app/build/
ios/build/
ios/Pods/
ios/Podfile.lock

# System
.DS_Store
*.log
npm-debug.*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*
!.env.example

# Metro
.metro-health-check*

# Testing
coverage/

# TypeScript
*.tsbuildinfo

# EAS
eas-*.json
